# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.oc
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore arquivos que nao precisamos manter estado no git
.directory
lex.yy.c
lex
syn
gen
*.lex
*.syn
*.asm
*.sublime-project
*.sublime-workspace
